In [4]:
# Step 1) Get an array of date time objects
datetime_array = ["[2021-07-19T12:36:46.4320]" , "[2021-07-19T12:36:49.0520]",  "[2021-07-19T12:36:50.9910]"]

from dateutil.parser import isoparse
print("sanity")
isoparse("2021-07-19T12:36:50.991+0040")
# import matplotlib
# dates = matplotlib.dates.datestr2num(datetime_array)
# matplotlib.pyplot.plot_date(dates, value_array)

sanity

datetime.datetime(2021, 7, 19, 12, 36, 50, 991000, tzinfo=tzoffset(None, 2400))

In [11]:
from src.read_log_file import get_parsed_data_from_file 
from dateutil.parser import isoparse
import matplotlib 


df = get_parsed_data_from_file("/Users/ellisbrown/Desktop/Project/cassandra-data/apache2/logs/gc.log")
print(df["DateTime"])
dates = df["DateTime"]
#for date in dates:
print(matplotlib.dates.date2num(dates))

0     2021-07-19T12:43:13.841+0000
1     2021-07-19T12:43:23.864+0000
2     2021-07-19T12:43:34.267+0000
3     2021-07-19T12:43:44.684+0000
4     2021-07-19T12:43:55.082+0000
5     2021-07-19T12:44:05.488+0000
6     2021-07-19T12:44:15.899+0000
7     2021-07-19T12:44:26.302+0000
8     2021-07-19T12:44:36.697+0000
9     2021-07-19T12:44:47.088+0000
10    2021-07-19T12:44:57.494+0000
11    2021-07-19T12:45:07.900+0000
Name: DateTime, dtype: object
[18827.53002131 18827.53013731 18827.53025772 18827.53037829
 18827.53049863 18827.53061907 18827.53073957 18827.53085998
 18827.53098029 18827.53110056 18827.531221   18827.53134144]